body{
    background-color: antiquewhite;
}
.principal{
    width: 100%;
    height: 150px;
    background-color: brown;
    align-items: center;
}
.titulo{
    align-items: center;
}
h1{
    text-align: center;
}
p{
    padding-left: 10px;
}
.btnSimular{
    padding-left: 40px;

}

.style {
width: 30%;
background-color: aqua;
margin-top: 20px;
font-weight: bold;
}